.container {
    background-color: #eee;
}

.header {
    position: absolute;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 88px;
    background-color: transparent;
}

.header-title {
    width: 560px;
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.header-left, .header-right {
    width: 95px;
    color: #fff;
    font-family: iconfont2;
    font-size: 30px;
    text-align: center;
}
.border-top{
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #ddd;
}
.border-bottom-1px{
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #ddd;
}